# 1 引入numpy并查看版本
```
out:1.17.3
```

In [ ]:
import numpy as np
np.__version__

Error: Error: Jupyter server crashed. Unable to connect.
Error code from jupyter: 1

# 2 创建一位数组，0-9
```
out:array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
```

In [4]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

# 3 创建boolean数组（3x3全部为True）
```
out:array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])
```

In [6]:
np.full((3,3),True)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

# 4 提取满足条件的元素（提取奇数项）
```
in:    arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
out:   array([1, 3, 5, 7, 9])
```

In [8]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
arr[arr%2==1]

array([1, 3, 5, 7, 9])

# 5 替换满足条件的元素（替换奇数项为-1）
```
in: arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
out:array([0, -1, 2, -1, 4, -1, 6, -1, 8, -1])
```

In [9]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
arr[arr%2==1] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

# 6 与5相同，但是不要在原数组上改动，返回个新的数组

In [10]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
res = np.where(arr%2==1,-1,arr)
res

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

# 7 reshape一个数组（0-9这个一维数组->2x5的二维数组）
```
in: arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
out: array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])
```

In [11]:
arr.reshape(2,5)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

# 8 垂直拼接俩数组
```
in: a = np.arange(10).reshape(2,-1)
   b = np.repeat(1, 10).reshape(2,-1)
out: array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])
```

In [14]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)

np.vstack([a,b])

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

# 9 水平拼接俩数组
```
in: a = np.arange(10).reshape(2,-1)
   b = np.repeat(1, 10).reshape(2,-1)
out: array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])
```

In [16]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)

np.hstack([a,b])

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

# 10 生成自定义的数组
```
in: a = np.array([1,2,3])
out: array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])
```

In [19]:
a = np.array([1,2,3])

np.hstack([np.repeat(a,3),np.tile(a,3)])

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

# 11 求两数组交集
```
in: a = np.array([1,2,3,2,3,4,3,4,5,6])
   b = np.array([7,2,10,2,7,4,9,4,9,8])
out:array([2, 4])
```

In [20]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

np.intersect1d(a,b)

array([2, 4])

# 12 从一个数组中删除另一个数组中含有的元素
```
in: a = np.array([1,2,3,4,5])
   b = np.array([5,6,7,8,9])
out:array([1,2,3,4])
```

In [21]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

np.setdiff1d(a,b)

array([1, 2, 3, 4])

# 13 两等长数组，找出位置相同且值也相同的下标
```
in: a = np.array([1,2,3,2,3,4,3,4,5,6])
   b = np.array([7,2,10,2,7,4,9,4,9,8])
out:(array([1, 3, 5, 7]),)
```

In [ ]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

np.where(a == b)

# 14 提取给定范围的数据(提取值在5-10之间的元素)
```
in: a = np.array([2, 6, 1, 9, 10, 3, 27])
out:(array([6, 9, 10]),)
```

In [ ]:
a = np.array([2, 6, 1, 9, 10, 3, 27])
# Method 1
index = np.where((a >= 5) & (a <= 10))
a[index]

# Method 2:
index = np.where(np.logical_and(a>=5, a<=10))
a[index]
#> (array([6, 9, 10]),)

# Method 3: (thanks loganzk!)
a[(a >= 5) & (a <= 10)]

Error: Error: Failed to connect to Jupyter notebook.
http://localhost:8888/
Error: Invalid response: 500 Internal Server Error

# 15 取a,b两等长数组中较大值为新数组
```
in: a = [4,6,1,7,9]
b=[1,6,9,2,7]
```

In [211]:
a = [4,6,1,7,9]
b=[1,6,9,2,7]

def maxx(x,y):
    if x>y:
        return x
    else:
        return y
pair_max = np.vectorize(maxx, otypes=[float])
pair_max(a, b)

[4, 6, 9, 7, 9]

# 16 如何交换二维数组两列（交换3x3数组的第0和第1列）
```
in:arr = np.arange(9).reshape(3,3)
out:array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])
       ```

In [24]:
arr = np.arange(9).reshape(3,3)

arr[:,[1,0,2]]

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

# 17 如何交换二维数组两行（交换3x3数组第0和第1行）
```
in:arr = np.arange(9).reshape(3,3)
out:array([[3, 4, 5],
       [0, 1, 2],
       [6, 7, 8]])
```

In [25]:
arr =np.arange(9).reshape(3,3)

arr[[1,0,2],:]

array([[3, 4, 5],
       [0, 1, 2],
       [6, 7, 8]])

# 18 如何反转二维数组的行
```
in:arr = np.arange(9).reshape(3,3)
out:array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])
```

In [26]:
arr =np.arange(9).reshape(3,3)

arr[[2,1,0],:]

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

# 19  如何反转二维数组的列
```
in:arr = np.arange(9).reshape(3,3)
out:array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])
       ```

In [28]:
arr =np.arange(9).reshape(3,3)

arr[:, ::-1]

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

# 20 创建5x3的float二维数组，值是5-10的随机数

In [30]:
np.random.uniform(5,10, size=(5,3))

array([[5.43541617, 9.25087231, 9.00250654],
       [8.84754627, 5.10112779, 8.05907127],
       [5.12577106, 7.23626959, 8.96631943],
       [7.31949177, 8.84183137, 5.68644925],
       [8.79738015, 8.39729373, 5.68116535]])

# 21 [打印设置相关]float数组每个元素保留小数点后3位打印(只是打印时，本质不变)
```
in:rand_arr = np.random.random((5,3))
```

In [32]:
rand_arr = np.random.random((5,3))

np.set_printoptions(precision=3)

rand_arr

array([[0.767, 0.007, 0.587],
       [0.066, 0.588, 0.268],
       [0.408, 0.887, 0.274],
       [0.331, 0.088, 0.428],
       [0.85 , 0.939, 0.672]])

# 22 [打印设置相关]避免科学计数法打印数组
```
in:np.random.seed(100)
rand_arr = np.random.random([3,3])/1e3
```

In [34]:
np.random.seed(100)
rand_arr = np.random.random([3,3])/1e3

np.set_printoptions(suppress=True, precision=6)  
rand_arr

array([[0.000543, 0.000278, 0.000425],
       [0.000845, 0.000005, 0.000122],
       [0.000671, 0.000826, 0.000137]])

# 23 [打印设置相关]如何限制数组打印条数
```
in:a = np.arange(15)
out: array([ 0,  1,  2, ..., 12, 13, 14])
```

In [38]:
a = np.arange(15)

np.set_printoptions(threshold=6)
a

array([ 0,  1,  2, ..., 12, 13, 14])

# 24 [打印设置相关]如何打印全部数据避免被省略

In [43]:
np.set_printoptions(threshold=1000)
np.arange(100)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

# 25 导入含有数字和文本的数据集，保证数据完整(不要让文本变nan了)
```
in:url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
```

In [48]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
np.set_printoptions(threshold=6)
iris = np.genfromtxt(url, delimiter=',', dtype='object')
iris

array([[b'5.1', b'3.5', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.9', b'3.0', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.7', b'3.2', b'1.3', b'0.2', b'Iris-setosa'],
       ...,
       [b'6.5', b'3.0', b'5.2', b'2.0', b'Iris-virginica'],
       [b'6.2', b'3.4', b'5.4', b'2.3', b'Iris-virginica'],
       [b'5.9', b'3.0', b'5.1', b'1.8', b'Iris-virginica']], dtype=object)

# 26 一维tuple数组，提取特定一列
```
in:url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_1d = np.genfromtxt(url, delimiter=',', dtype=None)
```

In [52]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_1d = np.genfromtxt(url, delimiter=',', dtype=None)

species = np.array([row[4] for row in iris_1d])
species[:5]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.

array([b'Iris-setosa', b'Iris-setosa', b'Iris-setosa', b'Iris-setosa',
       b'Iris-setosa'], dtype='|S18')

# 27 如何将一维tuple数组转二维
```
in:同26
```

In [53]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_1d = np.genfromtxt(url, delimiter=',', dtype=None)

iris_2d = np.array([row.tolist()[:4] for row in iris_1d])
iris_2d[:4]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2]])

# 28 计算数组均值、中位数、标准差
```
in: np.arange(1000)
out:499.5 499.5 288.6749902572095
```

In [60]:
a = np.arange(1000)

print(np.mean(a),np.median(a),np.std(a))

499.5 499.5 288.6749902572095

# 29 数组归一化
```
in:a = np.arange(15)
a = a.reshape(3,5)
out:array([[0.      , 0.071429, 0.142857, 0.214286, 0.285714],
       [0.357143, 0.428571, 0.5     , 0.571429, 0.642857],
       [0.714286, 0.785714, 0.857143, 0.928571, 1.      ]])
```

In [62]:
a = np.arange(15)
a = a.reshape(3,5)

ma = a.max()
mi = a.min()

(a-mi)/(ma-mi)

array([[0.      , 0.071429, 0.142857, 0.214286, 0.285714],
       [0.357143, 0.428571, 0.5     , 0.571429, 0.642857],
       [0.714286, 0.785714, 0.857143, 0.928571, 1.      ]])

# 30 如何计算softmax分数

# 31找到第5%和第95%大的值

```
in:a = np.random.rand(100)
```

In [69]:
a = np.random.rand(100)

np.percentile(a, q=[5, 95])

array([0.151164, 0.979904])

# 32 如何在随机位置改值，在一个数组中随机10个位置改为nan
```
in: a = np.random.rand(100)
```

In [78]:
a = np.random.rand(100)

np.set_printoptions(threshold=100)
a[np.random.randint(100, size=20)] = np.nan
a

array([0.367221, 0.84715 , 0.496094, 0.063552, 0.092873, 0.692343,
       0.544042, 0.587101, 0.445091, 0.819553, 0.323718, 0.530365,
            nan, 0.714622, 0.553754, 0.080318, 0.123167, 0.383021,
            nan, 0.776389, 0.026331, 0.275851, 0.365678, 0.756346,
       0.448301,      nan, 0.342772, 0.81481 , 0.412086, 0.485733,
            nan, 0.639077, 0.040417, 0.667013,      nan, 0.082286,
            nan, 0.221316, 0.365021, 0.29824 , 0.833417, 0.078827,
       0.58197 , 0.562364, 0.251833, 0.155557, 0.588294, 0.606843,
       0.72987 ,      nan, 0.761078, 0.935699, 0.397213, 0.846449,
       0.649563,      nan,      nan, 0.301628, 0.275923, 0.555141,
       0.064069, 0.496512, 0.377168, 0.757503, 0.299125, 0.046043,
       0.360029, 0.472465, 0.564888,      nan, 0.391272, 0.795728,
       0.844789, 0.744575, 0.332533,      nan, 0.736666, 0.727053,
            nan, 0.546882, 0.467898,      nan,      nan,      nan,
            nan, 0.438398, 0.202399,      nan, 0.305068,      nan,
       0.680621, 0.576541,      nan, 0.91648 , 0.205891, 0.654254,
       0.821539, 0.024452, 0.295917, 0.915652])

# 33 找出数组中nan的位置
```
in: a = np.random.rand(100)
a[np.random.randint(100, size=20)] = np.nan
out: 20
```

In [96]:
a = np.random.rand(100)
a[np.random.randint(100, size=20)] = np.nan

np.where(np.isnan(a))

array([0.324503, 0.92415 , 0.224604, 0.920397, 0.111644, 0.615646,
            nan,      nan, 0.97615 ,      nan, 0.174149, 0.438156,
       0.486434, 0.399786,      nan, 0.878054, 0.53391 , 0.925272,
       0.176212, 0.735649, 0.064153, 0.918317, 0.307711, 0.334738,
       0.041554, 0.198561, 0.338814,      nan, 0.878297, 0.962499,
            nan, 0.393642, 0.048378, 0.913863,      nan,      nan,
       0.679602, 0.160135, 0.843057, 0.646093, 0.586071, 0.034345,
            nan, 0.310419, 0.742146,      nan, 0.697671, 0.507133,
       0.953483, 0.744176, 0.380478, 0.996924,      nan, 0.55677 ,
       0.975806, 0.853364,      nan,      nan, 0.046852, 0.418291,
       0.133889, 0.19492 ,      nan, 0.189996,      nan, 0.552613,
       0.934444, 0.901295, 0.488801, 0.457915, 0.293427, 0.749034,
       0.484015, 0.956225,      nan, 0.095119,      nan, 0.801677,
       0.633981, 0.883126, 0.615573,      nan, 0.745867, 0.892919,
       0.325219, 0.678684, 0.885879, 0.891183, 0.553289, 0.323361,
       0.2018  , 0.568294,      nan, 0.015269, 0.018051, 0.998596,
       0.454411, 0.900144, 0.814812, 0.107019])

# 34 使用2个或以上条件来过滤数组元素
```
in: a = np.random.rand(100)
out:在>0.2 且 <0.8
```

In [93]:
a = np.random.rand(100)

a[ (a>0.2) & (a<0.8)]

array([0.505286, 0.359439, 0.370473, 0.56502 , 0.273003, 0.375311,
       0.460157, 0.707518, 0.507518, 0.256456, 0.778871, 0.632669,
       0.731234, 0.202074, 0.587657, 0.638553, 0.668084, 0.234537,
       0.321053, 0.485407, 0.680832, 0.555104, 0.24576 , 0.282828,
       0.200803, 0.460216, 0.612456, 0.331577, 0.206174, 0.332196,
       0.224276, 0.555768, 0.207947, 0.791116, 0.634769, 0.295991,
       0.7841  , 0.299752, 0.240872, 0.60146 , 0.583439, 0.478671,
       0.385125, 0.417571, 0.217019, 0.66623 , 0.584857, 0.447904,
       0.544327, 0.72317 , 0.429534, 0.343862, 0.694923, 0.391035,
       0.416593, 0.217328, 0.723543, 0.243319])

# 35 删除含有nan的行
```
in:a = np.random.rand(100)
a[np.random.randint(100, size=4)] = np.nan
a = a.reshape(10,10)
```

In [100]:
a = np.random.rand(100)
a[np.random.randint(100, size=4)] = np.nan
a = a.reshape(10,10)

any_nan_in_row = np.array([~np.any(np.isnan(row)) for row in a])
a[any_nan_in_row]

array([[0.469279, 0.292379, 0.126424, 0.651501, 0.357434, 0.001018,
        0.683225, 0.053303, 0.869686, 0.927879],
       [0.759192, 0.884696, 0.791406, 0.730052, 0.068462, 0.899897,
        0.922347, 0.367359, 0.980723, 0.327251],
       [0.884174, 0.749989, 0.204463, 0.342874, 0.715518, 0.997229,
        0.411931, 0.147775, 0.982149, 0.656313],
       [0.037461, 0.738958, 0.484626, 0.207378, 0.762452, 0.862403,
        0.305952, 0.166806, 0.34436 , 0.361047],
       [0.944692, 0.243775, 0.499886, 0.76773 , 0.812143, 0.480896,
        0.469565, 0.236539, 0.513995, 0.542819],
       [0.080102, 0.585955, 0.598042, 0.172456, 0.310306, 0.619878,
        0.759961, 0.695467, 0.961103, 0.258361],
       [0.235638, 0.063431, 0.612692, 0.674481, 0.534851, 0.683522,
        0.445233, 0.883322, 0.873598, 0.48444 ]])

# 36 求两列相关性(如第0和第2列相关性)
```
in:a = np.random.rand(100)
a = a.reshape(10,10)
```

In [105]:
a = np.random.rand(100)
a = a.reshape(10,10)
np.corrcoef(a[:,0], a[:,2])[0, 1]

-0.28118304787759907

# 37 判断数组是否有nan值
```
in:a = np.random.rand(100)
a[np.random.randint(100, size=4)] = np.nan
a = a.reshape(10,10)
```

In [107]:
a = np.random.rand(100)
a[np.random.randint(100, size=4)] = np.nan
a = a.reshape(10,10)

np.isnan(a).any()

True

# 38 将数组中的nan全部替换为0

In [108]:
a = np.random.rand(100)
a[np.random.randint(100, size=4)] = np.nan
a = a.reshape(10,10)

a[np.isnan(a)]=0

array([[0.469275, 0.981274, 0.198126, 0.      , 0.      , 0.67197 ,
        0.138278, 0.045228, 0.509814, 0.720033],
       [0.903867, 0.086206, 0.60375 , 0.887383, 0.12605 , 0.750228,
        0.996326, 0.605016, 0.817381, 0.432591],
       [0.499365, 0.      , 0.352128, 0.923922, 0.086436, 0.980593,
        0.621359, 0.495066, 0.222476, 0.410672],
       [0.736661, 0.304712, 0.999326, 0.063155, 0.598858, 0.929646,
        0.551253, 0.517314, 0.171288, 0.126777],
       [0.217174, 0.248695, 0.268479, 0.259258, 0.101304, 0.497391,
        0.161555, 0.240536, 0.592359, 0.774077],
       [0.3875  , 0.708268, 0.256229, 0.315725, 0.956084, 0.77184 ,
        0.962962, 0.518983, 0.6779  , 0.      ],
       [0.146832, 0.02647 , 0.682916, 0.587598, 0.856607, 0.650691,
        0.303662, 0.98863 , 0.267801, 0.557486],
       [0.611487, 0.134875, 0.107509, 0.113221, 0.359047, 0.41046 ,
        0.920028, 0.78066 , 0.972009, 0.138282],
       [0.527348, 0.254863, 0.956122, 0.273627, 0.935752, 0.773059,
        0.478094, 0.726534, 0.131236, 0.29094 ],
       [0.899601, 0.868839, 0.207736, 0.970456, 0.974052, 0.632779,
        0.178033, 0.658846, 0.255201, 0.337404]])

# 39 求数组不重复值个数
```
in: a = np.random.rand(100)
a[np.random.randint(100, size=4)] = np.nan
a = a.reshape(10,10)
a = a*10
a = a.astype('int16')
```

In [115]:
a = np.random.rand(100)
a[np.random.randint(100, size=4)] = np.nan
a = a.reshape(10,10)
a = a*10
a = a.astype('int16')


len(np.unique(a))

10

# 40 数字转文本（0-3转s，4-6转m，7-9转l）
```
a = np.random.rand(100)
a = a.reshape(10,10)
a = a*10
a = a.astype('int16')
```

In [129]:
a = np.random.rand(100)
a[np.random.randint(100, size=4)] = np.nan
a = a.reshape(10,10)
a = a*10
a = a.astype('int16')

b = np.full_like(a,"",dtype='S20')
b[a<=3] = 's'
b[(a>3) & (a<=6)]='m'
b[(a>6) & (a<=9)]='l'

b

array([[b'm', b's', b'l', b's', b'l', b's', b'm', b'm', b's', b'l'],
       [b's', b'l', b's', b'm', b'm', b's', b's', b'l', b's', b'm'],
       [b's', b'l', b's', b's', b'l', b'm', b'm', b'm', b'l', b's'],
       [b's', b's', b'm', b's', b'l', b'l', b'l', b's', b's', b's'],
       [b'l', b's', b's', b's', b's', b'm', b's', b'm', b'm', b'l'],
       [b's', b's', b's', b'm', b'l', b'l', b's', b'm', b'l', b'l'],
       [b'l', b's', b'l', b'm', b'l', b'l', b'l', b'l', b'l', b's'],
       [b'm', b'm', b's', b'l', b'm', b'l', b's', b's', b'l', b'l'],
       [b'l', b'l', b'l', b'm', b's', b's', b's', b's', b'l', b'm'],
       [b'l', b'm', b'm', b'l', b's', b'm', b'm', b's', b'l', b'm']],
      dtype='|S20')

# 41 用现有的列，创建新的一列（第0列叫x,第1列叫y，新增 sin(pi*(x/100)) * y^2）
```
a = np.random.rand(100)
a = a.reshape(10,10)
a = a*10
a = a.astype('int16')
```

In [128]:
a = np.random.rand(100)
a = a.reshape(10,10)
a = a*10
a = a.astype('int16')

np.sin(np.pi*(a[0]/100))*(a[1]**2)

array([0.      , 1.130787, 1.963289, 0.218143, 4.684533, 0.      ,
       3.910862, 1.539127, 0.      , 1.686432])

# 42 从1d数组中抽样选出10个元素
```
in:a = np.random.rand(100)
a = a*10
a = a.astype('int16')
```

In [130]:
a = np.random.rand(100)
a = a*10
a = a.astype('int16')

np.random.choice(a,10)

array([3, 6, 5, 5, 7, 3, 2, 3, 3, 8], dtype=int16)

# 43 如何获取1d数组中不重复的第二大的值
```
in:a = np.random.rand(100)
a = a*10
a = a.astype('int16')
```

In [138]:
a = np.random.rand(100)
a = a*10
a = a.astype('int16')

np.unique(np.sort(a))[-2]

8

# 44 依据某一列对2d数组排序(例如根据第0列排序)
```
in:a = np.random.rand(100)
a = a*10
a = a.astype('int16')
a = a.reshape(10,10)
```

In [141]:
a = np.random.rand(100)
a = a*10
a = a.astype('int16')
a = a.reshape(10,10)

a[a[:,0].argsort()]

array([[0, 2, 0, 7, 8, 2, 4, 9, 9, 7],
       [1, 2, 6, 1, 7, 9, 1, 2, 7, 1],
       [1, 4, 1, 1, 6, 8, 0, 8, 9, 7],
       [3, 6, 1, 2, 2, 6, 6, 5, 0, 5],
       [3, 4, 7, 8, 6, 5, 8, 6, 2, 3],
       [4, 6, 0, 9, 5, 0, 7, 1, 0, 9],
       [5, 0, 1, 9, 4, 6, 8, 5, 2, 7],
       [6, 2, 3, 4, 7, 6, 2, 4, 4, 8],
       [6, 2, 7, 9, 5, 9, 9, 7, 2, 6],
       [6, 0, 7, 1, 0, 2, 5, 8, 2, 8]], dtype=int16)

# 45 众数
```
in:a = np.random.rand(100)
a = a*10
a = a.astype('int16')
a = a.reshape(10,10)
```

In [147]:
a = np.random.rand(100)
a = a*10
a = a.astype('int16')
a = a.reshape(10,10)

print(a)
v,c = np.unique(a,return_counts=True)
v[np.argmax(c)]

[[3 6 8 2 5 9 8 3 0 5]
 [9 4 4 8 2 7 7 4 0 8]
 [2 0 6 9 0 2 9 6 0 8]
 [8 8 2 3 3 5 7 3 9 7]
 [1 7 7 0 6 4 5 8 3 3]
 [8 0 4 8 7 2 4 0 9 3]
 [2 1 9 0 7 6 3 4 5 8]
 [6 9 5 5 1 1 6 4 6 2]
 [1 0 7 3 3 8 6 0 8 2]
 [7 2 4 6 7 8 8 7 5 9]]

8

# 46 找出比给定值大的数第一次出现的位置
```
in:a = np.random.rand(100)
a = a*10
a = a.astype('int16')

b = 5
```

In [156]:
a = np.random.rand(100)
a = a*10
a = a.astype('int16')
b = 5


np.argwhere(a>b)[0]

array([2])

# 47 将所有>7的替换为7，<3的替换为3
```
in:a = np.random.rand(100)
a = a*10
a = a.astype('int16')
a = a.reshape(10,10)
```

In [160]:
a = np.random.rand(100)
a = a*10
a = a.astype('int16')
a = a.reshape(10,10)
np.where(a < 3, 3, np.where(a > 10, 10, a))

array([[4, 3, 7, 7, 3, 9, 5, 4, 3, 3],
       [3, 3, 6, 3, 3, 7, 3, 8, 3, 7],
       [3, 3, 4, 7, 7, 3, 6, 8, 4, 7],
       [6, 5, 3, 8, 7, 4, 3, 3, 3, 4],
       [8, 5, 8, 5, 9, 6, 5, 3, 5, 3],
       [8, 5, 4, 3, 5, 3, 3, 9, 5, 7],
       [3, 3, 4, 9, 7, 5, 8, 3, 9, 4],
       [6, 8, 3, 8, 8, 3, 5, 5, 3, 5],
       [6, 8, 4, 8, 3, 3, 5, 5, 3, 9],
       [5, 9, 4, 8, 6, 3, 3, 3, 9, 3]], dtype=int16)

# 48 获取1d数组topK大的值（例如k=5）
```
a = np.random.uniform(1,50, 20)
```

In [164]:
a = np.random.uniform(1,50, 20)
np.sort(a)[-5:]

array([43.788397, 46.521927, 47.91429 , 48.405591, 49.8292  ])

# 50 如何把数组的数组转为1d数组
```
# Input:
arr1 = np.arange(3)
arr2 = np.arange(3,7)
arr3 = np.arange(7,10)

array_of_arrays = np.array([arr1, arr2, arr3])
```

In [169]:
# Input:
arr1 = np.arange(3)
arr2 = np.arange(3,7)
arr3 = np.arange(7,10)

array_of_arrays = np.array([arr1, arr2, arr3])


np.array([a for arr in array_of_arrays  for a in arr])

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

# 51 为数组的每个元素生成二进制编码
```
in: a = np.array([2, 3, 2, 2, 2, 1])
out:array([[ 0.,  1.,  0.],
        [ 0.,  0.,  1.],
        [ 0.,  1.,  0.],
        [ 0.,  1.,  0.],
        [ 0.,  1.,  0.],
        [ 1.,  0.,  0.]])
```

In [172]:
a = np.array([2, 3, 2, 2, 2, 1])
def one_hot_encodings(arr):
    uniqs = np.unique(arr)
    out = np.zeros((arr.shape[0], uniqs.shape[0]))
    for i, k in enumerate(arr):
        out[i, k-1] = 1
    return out

one_hot_encodings(a)

array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

# 52 分好组的元素给定组内行号
```
in: a = np.array(['a','a','a','b','b','c','c','c','c'])
out: array([0,1,2,0,1,0,1,2,3])
```

In [173]:
a = np.array(['a','a','a','b','b','c','c','c','c'])
print([i for val in np.unique(a) for i, grp in enumerate(a[a==val])])

[0, 1, 2, 0, 1, 0, 1, 2, 3]

# 53 分好组的元素每组给个标号
```
in: a = np.array(['a','a','a','b','b','c','c','c','c'])
out: array([0,0,0,1,1,2,2,2,2])
```

In [176]:
a = np.array(['a','a','a','b','b','c','c','c','c'])
[np.argwhere(np.unique(a) == s).tolist()[0][0] for val in np.unique(a) for s in a[a==val]]

[0, 0, 0, 1, 1, 2, 2, 2, 2]

# 54 给出每个元素在排序后的位置下标数组
```
in: [ 9  4 15  0 17 16 17  8  9  0]
out: [4 2 6 0 8 7 9 3 5 1]
```

In [179]:
np.random.seed(10)
a = np.random.randint(20, size=10)
print('Array: ', a)

# Solution
print(a.argsort().argsort())

Array:  [ 9  4 15  0 17 16 17  8  9  0]
[4 2 6 0 8 7 9 3 5 1]

# 55 上题改成多维数组
```
in:np.random.seed(10)
a = np.random.randint(20, size=[2,5])
print(a)

out:#> [[4 2 6 0 8]
#>  [7 9 3 5 1]]
```

In [180]:
# Input:
np.random.seed(10)
a = np.random.randint(20, size=[2,5])
print(a)

# Solution
print(a.ravel().argsort().argsort().reshape(a.shape))

[[ 9  4 15  0 17]
 [16 17  8  9  0]]
[[4 2 6 0 8]
 [7 9 3 5 1]]

# 56 二维数组找出每一行的最大值
```
# Input
np.random.seed(100)
a = np.random.randint(1,10, [5,3])
a
```

In [183]:
np.random.seed(100)
a = np.random.randint(1,10, [5,3])
# Solution 1
np.amax(a, axis=1)

array([9, 8, 6, 3, 9])

# 57 上题变种，计算每一行max/min的值

In [184]:
np.random.seed(100)
a = np.random.randint(1,10, [5,3])
np.apply_along_axis(lambda x: np.min(x)/np.max(x), arr=a, axis=1)

array([0.444444, 0.125   , 0.5     , 1.      , 0.111111])

# 58 找到数组中重复的值
```
in: [0 0 3 0 2 4 2 2 2 2]
out:[False  True False  True False False  True  True  True  True]
```

In [185]:
# Input
np.random.seed(100)
a = np.random.randint(0, 5, 10)

## Solution
# There is no direct function to do this as of 1.13.3

# Create an all True array
out = np.full(a.shape[0], True)

# Find the index positions of unique elements
unique_positions = np.unique(a, return_index=True)[1]

# Mark those positions as False
out[unique_positions] = False

print(out)

[False  True False  True False False  True  True  True  True]

# 60 将一张jpg图片转换为numpy数组
```
in:URL = 'https://upload.wikimedia.org/wikipedia/commons/8/8b/Denali_Mt_McKinley.jpg'
```

In [186]:
URL = 'https://upload.wikimedia.org/wikipedia/commons/8/8b/Denali_Mt_McKinley.jpg'

from skimage import io
io.imread(URL)

Array([[[  9,  72, 125],
        [  9,  72, 125],
        [  9,  72, 125],
        ...,
        [ 42, 103, 147],
        [ 42, 103, 147],
        [ 43, 104, 148]],

       [[  9,  72, 125],
        [  9,  72, 125],
        [ 10,  73, 126],
        ...,
        [ 42, 103, 147],
        [ 42, 103, 147],
        [ 43, 104, 148]],

       [[  9,  72, 125],
        [ 10,  73, 126],
        [ 10,  73, 126],
        ...,
        [ 44, 105, 150],
        [ 45, 106, 151],
        [ 45, 106, 151]],

       ...,

       [[ 21,  41,  50],
        [ 29,  51,  64],
        [ 28,  54,  69],
        ...,
        [ 27,  58,  79],
        [ 22,  53,  74],
        [ 19,  47,  69]],

       [[ 27,  51,  63],
        [ 29,  55,  68],
        [ 27,  56,  72],
        ...,
        [ 33,  70,  97],
        [ 27,  64,  91],
        [ 22,  57,  85]],

       [[ 18,  45,  56],
        [ 20,  48,  62],
        [ 21,  52,  70],
        ...,
        [ 15,  51,  77],
        [ 12,  48,  74],
        [ 11,  45,  72]]], dtype=uint8)

# 61 如何剔除所有nan值
```
in:np.array([1,2,3,np.nan,5,6,7,np.nan])
out:array([ 1.,  2.,  3.,  5.,  6.,  7.])
```

In [188]:
a = np.array([1,2,3,np.nan,5,6,7,np.nan])
a[~np.isnan(a)]

array([1., 2., 3., 5., 6., 7.])

# 62 如何计算两数组欧式距离
```
in:a = np.array([1,2,3,4,5])
b = np.array([4,5,6,7,8])
out:6.7082039324993694
```

In [189]:
# Input
a = np.array([1,2,3,4,5])
b = np.array([4,5,6,7,8])

# Solution
dist = np.linalg.norm(a-b)
dist

6.708203932499369

# 63 一维数组找到所有峰值(比前后都大的值)的下标
```
in:a = np.array([1, 3, 7, 1, 2, 6, 0, 1])
out:[2,5]
```

In [190]:
a = np.array([1, 3, 7, 1, 2, 6, 0, 1])
doublediff = np.diff(np.sign(np.diff(a)))
peak_locations = np.where(doublediff == -2)[0] + 1
peak_locations

array([2, 5])

In [195]:
res =[]
for i in range(1,len(a)-1):
    if((a[i]>a[i-1])& (a[i]>a[i+1])):
        res.append(i)
res

[2, 5]

# 64 二维数组每一行都减去一个一维数组
```
in:a_2d = np.array([[3,3,3],[4,4,4],[5,5,5]])
  b_1d = np.array([1,2,3])
  
 out: [
     [2,1,0],
     [3,2,1],
     [4,3,2]
 ]
```

In [197]:
a_2d = np.array([[3,3,3],[4,4,4],[5,5,5]])
b_1d = np.array([1,2,3])

print(a_2d - b_1d)

[[2 1 0]
 [3 2 1]
 [4 3 2]]

# 65 找到第n个特定数出现的下标
```
找第5个1出现的位置
x = np.array([1, 2, 1, 1, 3, 4, 3, 1, 1, 2, 1, 1, 2])
```

In [200]:
x = np.array([1, 2, 1, 1, 3, 4, 3, 1, 1, 2, 1, 1, 2])
np.where(x==1)[0][4]

8

# 66 将datetime64类型转datetime类型
```
in:dt64 = np.datetime64('2018-02-25 22:10:10')
```

In [203]:
dt64 = np.datetime64('2018-02-25 22:10:10')

# from datetime import datetime
# dt64.astype(datetime)


dt64.tolist()

datetime.datetime(2018, 2, 25, 22, 10, 10)

# 67 计算滑动窗口均值(例如窗口大小3，就是0-2均值，1-3均值，2-4....)
```
in:np.random.seed(100)
Z = np.random.randint(10, size=10)

out:[ 6.33  6.    5.67  4.67  3.67  2.    3.67  3.  ]
```

In [206]:
np.random.seed(100)
Z = np.random.randint(10, size=10)
np.convolve(Z, np.ones(3)/3, mode='valid')

array([6.333333, 6.      , 5.666667, 4.666667, 3.666667, 2.      ,
       3.666667, 3.      ])

# 68 创建一个等差数列初值5增幅3数组总长10

In [208]:
np.arange(5, 5+10*3, 3)

array([ 5,  8, 11, 14, 17, 20, 23, 26, 29, 32])

# 69 如何在一系列无序日期中，补全缺失的日期

In [209]:
# Input
dates = np.arange(np.datetime64('2018-02-01'), np.datetime64('2018-02-25'), 2)
print(dates)

# Solution ---------------
filled_in = np.array([np.arange(date, (date+d)) for date, d in zip(dates, np.diff(dates))]).reshape(-1)

# add the last day
output = np.hstack([filled_in, dates[-1]])
output

# For loop version -------
out = []
for date, d in zip(dates, np.diff(dates)):
    out.append(np.arange(date, (date+d)))

filled_in = np.array(out).reshape(-1)

# add the last day
output = np.hstack([filled_in, dates[-1]])
output

['2018-02-01' '2018-02-03' '2018-02-05' '2018-02-07' '2018-02-09'
 '2018-02-11' '2018-02-13' '2018-02-15' '2018-02-17' '2018-02-19'
 '2018-02-21' '2018-02-23']

array(['2018-02-01', '2018-02-02', '2018-02-03', '2018-02-04',
       '2018-02-05', '2018-02-06', '2018-02-07', '2018-02-08',
       '2018-02-09', '2018-02-10', '2018-02-11', '2018-02-12',
       '2018-02-13', '2018-02-14', '2018-02-15', '2018-02-16',
       '2018-02-17', '2018-02-18', '2018-02-19', '2018-02-20',
       '2018-02-21', '2018-02-22', '2018-02-23'], dtype='datetime64[D]')

# 70 给定一维数组，创建阶梯型二维数组，二维数组列数是4，步幅是2
```
in:arr = np.arange(15) 
out:#> [[ 0  1  2  3]
#>  [ 2  3  4  5]
#>  [ 4  5  6  7]
#>  [ 6  7  8  9]
#>  [ 8  9 10 11]
#>  [10 11 12 13]]
```

In [210]:
def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    # return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])
    return np.array([a[s:(s+window_len)] for s in np.arange(0, n_strides*stride_len, stride_len)])

print(gen_strides(np.arange(15), stride_len=2, window_len=4))

[[ 0  1  2  3]
 [ 2  3  4  5]
 [ 4  5  6  7]
 [ 6  7  8  9]
 [ 8  9 10 11]
 [10 11 12 13]]